.container {
  position: relative;
  width: 400px; }

.gameboard {
  display: grid;
  width: 100%;
  grid: repeat(3, 100px)/repeat(3, 100px);
  grid-gap: 10px;
  grid-auto-flow: row;
  align-content: center;
  justify-content: center;
  margin-top: 10px; }
  .gameboard__hole {
    position: relative;
    border: 2px solid black; }
  .gameboard__mole {
    height: 90%;
    margin: 5px;
    background: red;
    border-radius: 50%;
    visibility: hidden; }

.visible {
  visibility: visible !important; }

.scoreboard {
  position: relative;
  height: 50px;
  width: 315px;
  border: 2px solid gray;
  text-align: center;
  font-size: 20px;
  margin: 0 auto; }
  .scoreboard__score {
    color: red; }

.game-controls {
  position: relative;
  text-align: center;
  margin-top: 10px; }
  .game-controls__start {
    min-width: 200px;
    min-height: 50px;
    font-size: 24px;
    background: green;
    color: white; }

.gameover {
  position: absolute;
  top: 47%;
  left: 27%;
  color: blue;
  font-size: 30px;
  font-weight: 800;
  visibility: hidden; }
